<h1>All Creatures</h1>
<hr>

<% for animal in @animals %>

    <div class = "creature"><p>Name: <%= animal.animal_name() %></p>
    <p>Species: <%= animal.species %> </p>
    <p>Age: <%= animal.age %> </p>
    <p>In training: <%= animal.training %> </p>
    <p>Adoptable: <%= animal.adoptable %> </p>
    <p>Date Admitted: <%= animal.admission_date %> </p>
    <img id="weeguy" src = "/creature.png" >
    <p id ="viewcreature"><a href="/animal-shelter/<%= animal.id %>/view">View Creature details</a> </p></div>
<hr/>

<% end %>
