<div class = "cdetails"><h1>Customer Details</h1></div>
<hr>
<div id ="cusinfo"><p><%= @customer.pretty_name() %>
<p>Appointment date: <%= @customer.appointment %> </p>
<p>Requirements: <textarea id ="requirements" rows ="3" cols ="40"> <%= @customer.requirements %> </textarea> </p></div>
<p></p>

<div><form action="/animal-shelter/customer/<%= @customer.id %>/delete" method="POST">
  <input type="submit" name="" value="Delete Customer">
</form></div>

<div><form action ="/animal-shelter/customer/<%= @customer.id %>/update"method='GET' ></div>

<div><input type="submit" name="" value="Update Customer"></div>
</form>
