<h1>Customer Details</h1>
<hr>
<p><%= @customer.pretty_name() %>
<p>appointment date: <%= @customer.appointment %> </p>
<p>Requirements: <%= @customer.requirements %> </p>
<p></p>

<form action="/animal-shelter/customer/<%= @customer.id %>/delete" method="POST">
  <input type="submit" name="" value="Delete Customer">
</form>

<form action ="/animal-shelter/customer/<%= @customer.id %>/update"method='GET' >

<input type="submit" name="" value="Update Customer">
</form>
